<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
    <title>Estructura CSS3</title>
</head>
<body>
   <!-- <div id="cuadro"></div> --> <!--BORDER RADIUS-->
    <!-- <div id="borde"></div> BORDER IMAGE-->
    <!--<div id="sombra"></div> BOX SHADOW-->
    <!--<div id="fondo"></div> FONDO MULTIPLE-->
    <!--<div id="fondo2"> BACKGROUND ORIGIN
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos esse illum, harum ea soluta, mollitia perferendis minus, veritatis inventore dicta numquam sunt eaque a enim aspernatur dolor velit. Vitae omnis molestias nisi iusto suscipit, cupiditate, praesentium et consectetur, quae facere excepturi consequuntur soluta nemo alias necessitatibus perspiciatis esse? Cumque, quam!</p>
    </div>-->
    <!--<div id="cuadro2"></div> BACKGROUND SIZE-->
    <!--<div id="cuadro3">Color RGBA</div> COLOR RGBA-->
    <!--<div id="uno"></div>
    <div id="dos"></div> DEGRADADOS-->
    <!--<h1>Este es un texto cualquiera</h1> TEXT SHADOW-->
    <p>Loremipsumdolorsitamet consectetur adipisicing elit. At quam eum ab sequi incidunt quas dolor quia! Obcaecati, aperiam asperiores!</p>
</body>
</html>