<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Emmet</title>
</head>
<body>
    <!--elementos hermanos ejemplo header+main+footer-->
    <header></header>
    <main></main>
    <footer></footer>
    <!--elementos hijos ejemplo main>section>article-->
    <main>
        <section>
            <article></article>
        </section>
    </main>
    <!--main>section>article>ul>li*5-->
    <main>
        <section>
            <article>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </article>
        </section>
    </main>
    <!--ID Y CLASS-->
    <div id="algo"></div> <!--#algo-->
    <div class="otro"></div> <!--.otro-->
    <!--header#algo+main.otro-->
    <header id="algo"></header>
    <main class="otro"></main>
    <!--etiquetas implicitas-->
    p>#otro 
    ul>.item$*5 
    table>.fila>.columna 
    <!--elementos enumerados (utilizar $)-->
    #div$*5 
    <div id="div1"></div>
    <div id="div2"></div>
    <div id="div3"></div>
    <div id="div4"></div>
    <div id="div5"></div>
    <style>
        body { 
            
        }
    </style>
</body>
</html>