<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>

<body>
    <main>
        <section>
            <article>
                <video width="320" height="240" controls autoplay>
                    <source src="../../../Curso_HTML5_DanielLopez/video/curso_aprende_a_publicar_paginas_web.mp4" type="video/mp4">
                    <source src="../../../Curso_HTML5_DanielLopez/video/curso_aprende_a_publicar_paginas_web.ogv" type="video/ogg">
                    <source src="../../../Curso_HTML5_DanielLopez/video/curso_aprende_a_publicar_paginas_web.webm" type="video/webm">
                        <p>Su navegador no soporta la etiqueta video</p>
                </video>
            </article>
        </section>
    </main>
</body>

</html>